@import '../../styles/customMediaQueries.css';
@import '../../styles/propertySets.css';

.pageTitle {
  text-align: center;
}

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1056px;
  margin: 24px auto;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 72px auto;
    margin-left: calc(var(--sidenavWidth) + 2pc);
  }
}

@media (max-width: 767px) {
  .sideNav {
    display: none;
  }
}

.coverImage {
  width: 100%;
  height: 528px;
  border-radius: 4px;
  object-fit: cover;
  margin: 32px 0 40px;
}

.htmlText span {
  font-size: 16px !important;
  line-height: 32px !important;
  font-family: var(--fontFamily) !important;
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 90%;

  @media (--viewportMedium) {
    max-width: 650px;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 32px;
  margin-bottom: 16px;
}

.suraLogo {
  height: 4pc;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 0 1pc;
  border-radius: 5px;
}

.singleButtonWrapper {
  width: 20pc;
  border-radius: 5px;
}

.carImage {
  width: 18pc;
  height: 10pc;
  object-fit: cover;
  border-radius: 15px;
}
