@import "../../styles/customMediaQueries.css";
@import "../../styles/propertySets.css";

.layoutWrapperMain {
  min-height: calc(100vh - var(--topbarHeight));

  @media (--viewportMedium) {
    min-height: calc(100vh - var(--topbarHeightDesktop));
  }
}

.root {
  /* @apply --marketplaceModalRootStyles; */
  width: calc(100% - 158px);
  margin: 10px 158px;
  background-color: #ffffff;
  overflow: hidden;
  @media (--viewportMedium) {
    /* @apply --backgroundImage; */
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0 auto;
  }
}

/* @media (max-width: 767px) {
  .SideNav {
    display: none;
  }
} */

.sideNav {
  display: none;

  @media (--viewportMedium) {
    display: block;
  }
}

.layoutWrapperMain {
  /* min-height: calc(100vh - var(--topbarHeight));

  @media (--viewportMedium) {
    min-height: calc(100vh - var(--topbarHeightDesktop));
  } */

  @media screen and (max-width: 768px) {
    min-height: 100%;
  }
}

.content {
  @apply --marketplaceModalBaseStyles;
  max-width: 100%;
  padding: 0 20px;
  margin-top: 70px;
  margin: 70px 0 0;
  width: 100%;
   @media screen and (max-width: 768px) {
      margin: 0px 0 0;
  }

}

.form {
  @apply --marketplaceModalFormRootStyles;
}

.error {
  @apply --marketplaceModalErrorStyles;
}

/* ================ Typography ================ */

/* Title of the modal */
.modalTitle {
  @apply --marketplaceModalTitleStyles;
}

/* Paragraph for the Modal */
.modalMessage {
  @apply --marketplaceModalParagraphStyles;
}

/* Make the email pop */
.email {
  font-weight: var(--fontWeightHighlightEmail);
}

.helperLink {
  @apply --marketplaceModalHelperLink;
}

.helperText {
  @apply --marketplaceModalHelperText;
}

.submitButton {
  @apply --marketplaceButtonStylesPrimary;
  margin-top: 24px;
}

.modalIcon {
  @apply --marketplaceModalIconStyles;
}
