@import '../../styles/propertySets.css';

.root {
  display: inline-block;

  &:last-of-type {
    padding-right: 0;
  }
}

.menuLabel {
  background-color: var(--matterColorLight);
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  width: auto;
  height: auto;
  min-height: 0;
  cursor: pointer;
  letter-spacing: 0px;
  color: #A7A7A7;
  font: normal normal normal 14px/18px Nunito;
  padding: 8px 16px;

  @media (--viewportLarge) {
    padding: 10px 20px;
    font: normal normal normal 16px/22px Nunito;
  }

  &:focus,
  &:hover {
    outline: none;
    background-color: var(--matterColorLight);
    border: 1px solid #E6E6E6;
    text-decoration: none;
    box-shadow: var(--boxShadowFilterButton);
    font: normal normal normal 14px/18px Nunito;
    padding: 8px 16px;

    @media (--viewportLarge) {
      padding: 10px 20px;
      font: normal normal normal 16px/22px Nunito;
    }
  }
}

.menuLabelSelected {
  outline: none;
  background-color: var(--matterColorDark);
  border-color: transparent;
  text-decoration: none;
  box-shadow: var(--boxShadowFilterButton);
  border: 1px solid var(--marketplaceColor);
  letter-spacing: 0px;
  background-color: var(--matterColorDark);
  color: var(--matterColorLight);
  border-radius: 5px;
  font: normal normal normal 14px/18px Nunito;
  padding: 8px 16px;

  @media (--viewportLarge) {
    padding: 10px 20px;
    font: normal normal normal 16px/22px Nunito;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--matterColorDark);
    background-color: var(--matterColorDark);
    color: var(--matterColorLight);
  }
}

.menuContent {
  margin-top: 7px;
  padding-top: 13px;
  min-width: 300px;
  border-radius: 4px;
}

/* left animated "border" like hover element */
.menuItemBorder {
  position: absolute;
  top: 2px;
  left: 0px;
  height: calc(100% - 4px);
  width: 0;
  background-color: var(--marketplaceColor);
  transition: width var(--transitionStyleButton);
}

/* left static border for selected element */
.menuItemBorderSelected {
  position: absolute;
  top: 2px;
  left: 0px;
  height: calc(100% - 7px);
  width: 6px;
  background-color: var(--matterColorDark);
}

.menuItem {
  @apply --marketplaceListingAttributeFontStyles;
  color: var(--matterColor);

  /* Layout */
  position: relative;
  min-width: 300px;
  margin: 0;
  padding: 4px 30px;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;

  cursor: pointer;

  &:focus,
  &:hover {
    color: var(--matterColorDark);
  }

  &:hover .menuItemBorder {
    width: 6px;
  }
}

.clearMenuItem {
  @apply --marketplaceH4FontStyles;
  font-weight: var(--fontWeightMedium);
  color: var(--matterColorAnti);

  /* Layout */
  position: relative;
  min-width: 300px;
  margin: 0;
  padding: 32px 30px 18px 30px;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;

  cursor: pointer;
  transition: width var(--transitionStyleButton);

  &:focus,
  &:hover {
    color: var(--matterColor);
    transition: width var(--transitionStyleButton);
  }
}
